body { 
background-image: url(raft.jpg);
background-position: right bottom;
background-repeat: no-repeat;
padding: 0px;
font-family: Papyrus, "Party LET", fantasy; 
font-size: 18px; 
color: #FFFFFF;
}
div#wrapper {
    width:80%;
    background-color:#FFFFFF; 
    opacity:0.5;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    text-align: center;
}
div#header {
    padding: 2px;
    margin: 1px;
    text-align: center;
}

div#main {
    width: 100%;
    padding: 10px;
    margin-top: 1px;
    text-align: left;
}
div#footer {
    padding: 5px;
    margin-bottom: 10px;
    border-top: thin solid #e6e6ff;
}
.nav-pills>li> a {
    color: #ffffff;
    background-color: #002266; 
    opacity:0.5;
}

.nav-pills>li>a:hover {
    color: #14141f;
    background-color: #52527a;
    opacity:0.9;
    border-radius: 0px;
}
.nav-pills>li.active>a {
    color: #ccd9ff;
    background-color: #002266;
    opacity:0.9;
    border-radius: 0px;}

.nav-pills>li> a:visited {
    background-color: #33334d;
    } 

div#row {
    width: 40%;
    color: #1f1f2e;
    padding: 30px;
    margin-bottom: 30px;
    background-color:#52527a; 
    opacity:0.7;   
} 

.table td {
    text-align: center;
}

.table th{
    color: white;
    text-align: center;
}
a {font-size: 20px;}

h1 { font-family: Copperplate, Impact, fantasy; font-size: 54px; color: #1f1f2e}

h5 { font-size: 48px; color: white;}

hr{ color:#1f1f2e; background-color:#9494b8; width:100%; height:3px; } 




.note {
font-family: Papyrus, "Party LET", fantasy;
font-size: 14px;
color: purple;
font-weight: bold;
} 