body { 
background-image: url(raft.jpg);
background-position: right bottom;
background-repeat: no-repeat;
padding: 0px;
font-family: Papyrus, "Party LET", fantasy; 
font-size: 18px; 
color: #FFFFFF;
}
div#wrapper {
    width:80%;
    background-color:#FFFFFF; 
    opacity:0.5;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    text-align: center;
}
div#header {
    padding: 2px;
    margin: 1px;
    text-align: center;
}
div#nav {
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    float: center;
    text-align: center;
    border-top: bold solid #1f1f2e;
    text-decoration: none;
}
div#main {
    width: 100%;
    padding: 10px;
    margin-top: 1px;
    text-align: left;
}
div#footer {
    padding: 5px;
    margin: 0px;
    border-top: thin solid #1f1f2e;
}
a {
    text-decoration: none;  
    font-weight: none;    
}

a:visited {color:#600080}

a:hover {font-size: 18px; color: #FFFFFF; background-color: #0059b3; font-family: "Trebuchet MS", Helvetica, "sans-serif";
        font-weight: bold;}

h1 { font-family: Copperplate, Impact, fantasy; font-size: 54px; color: #1f1f2e}
h2 { font-size: 24px; color: #A52A2A }

hr{ color:#1f1f2e; background-color:#9494b8; width:100%; height:3px; } 




.note {
font-family: Papyrus, "Party LET", fantasy;
font-size: 14px;
color: purple;
font-weight: bold;
} 