body { 
background-color: #000000; 
font-family: Trebuchet, Verdana, sans-serif; 
font-size: 16px; 
color: silver;
}
        
a { font-family: Trebuchet, Verdana, sans-serif; font-size: 18px; color: #86b300; text-decoration: underline}

a:hover { font-family: Trebuchet, Verdana, sans-serif; font-size: 18px; color: #008080; background-color: silver}

h1 { font-family: "Lucida Sans Unicode", Impact, sans-serif; font-size: 32px; }
h2 { font-family: "Lucida Sans Unicode", Impact, sans-serif; font-size: 24px; color: #008080}
p { font-family: Trebuchet, Verdana, sans-serif; font-size: 16px; color:silver}
hr{ color:silver; background-color:#008080; width:90%; height:2px; } 
ul {font-style: italic; background-image: url(http://static1.squarespace.com/static/5509fa26e4b042d7b1ec98d2/55419adfe4b0d0e27e947d6f/55419afce4b0d0e27e947df2/1430362921278/BigBadVoodooDaddy_WH_NOV2012-2728.jpg); image-size: 1000pxx666px; background-repeat:  no-repeat; background-position: right;}
table {
font-family: Trebuchet, Verdana, sans-serif;
font-size: 16px;
color: silver;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}
td {
    text-align: center;
}
caption {
    padding-bottom: 15px;
}
.note {
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 14px;
color: #00008B;
font-weight: bold;
} 